* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Inter";
    src: url(fonts/Inter_Variable.ttf);
}

body {
    font-size: 1.6rem;
    font-family: "inter";
}

/* size fonts */
.fs-000 {
    font-size: var(--fs-small-xs);
}
.fs-00 {
    font-size: var(--fs-small);
}
.fs-01 {
    font-size: var(--fs-standar);
}
.fs-03 {
    font-size: var(--fs-large);
}

/* simulacion cursor */
.cursor-pointer {
    cursor: pointer;
}

/* enlace sin estilos */
.enlace-unstyle {
    text-decoration: none;
}

/* border-50 */
.border-radius-50 {
    border-radius: 50%;
}

/* d-none personalizada */
.ocultar-icon {
    display: none;
}

/* esconder eje y */
.overflow-y-hidden {
    overflow-y: hidden !important;
}

/* boton generico green gris con icono green dark */
.btn-green-gris {
    background-color: var(--color-greengris);
    width: 35px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* espacios laterales genericos */
.container-fluid-custom {
    padding-left: 15px;
    padding-right: 15px;
}

/* BOTON DE PARTIDOS OCULTOS */
.btn-vocultos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border-radius: 3px;
}

.publi1 {
    width: auto;
    height: 96px;
    background: #093654;
}

.publi2 {
    width: auto;
    height: 104px;
    background: #093654;
}

.publi3 {
    width: auto;
    height: 72px;
    background: #093654;
}

.publi4 {
    width: 100%;
    height: 96px;
    background: #093654;
}

.w-15 {
    width: 15%;
}
.va-middle {
    vertical-align: middle;
}
.va-top {
    vertical-align: top;
}

.icon-resolve-filled {
    display: flex;
}

.br-0 {
    border-radius: 0px !important;
}

.grid-center-xy {
    place-items: center;
}

/* ACORDEONES */
.accordion-item {
    background-color: #fff;
    border: var(--border-grey);
}
.accordion-button::after {
    content: none;
}

.w-custom {
    width: 100%;
}

/* PARTIDOS EN GENERAL */

.nombre_torneo_liga {
    color: var(--White, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

#PartidosFuturos .nombre_torneo_liga{
    color: var(--color-black, #252525); 
}

.bandera_pais {
    border: solid #fff 2px;
}

.mas_info_partido span {
    color: var(--color-gray-medium);
}

.local h3,
.visitante h3 {
    color: var(--color-black, #252525);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.marcador * {
    text-align: center;
    font-size: var(--fs-large);
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}

/* PARTIDOS EN DIRECTO */

#PartidosEnDirecto .accordion-header {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-livescore);
    border: none;
}

#PartidosEnDirecto .accordion-button:not(.collapsed),
#PartidosEnDirecto .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-brand-green);
    border-color: var(--color-brand-green);
}

#PartidosEnDirecto .accordion-button:focus {
    z-index: 3;
    border: var(--color-brand-green);
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    box-shadow: none !important;
}

#PartidosEnDirecto .jornada_tiempo {
    font-weight: 600;
    color: var(--color-brand-green);
}

#PartidosEnDirecto .goles-local,
#PartidosEnDirecto .goles-visitante,
#PartidosEnDirecto .goles-local + span {
    color: var(--color-red);
}

#PartidosEnDirecto .hora {
    border-radius: 3px;
    font-size: 13px;
}

/* FUTUROS Y FINALIZADOS */

#PartidosFuturos .accordion-header {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-silver-medium);
    border: none;
}

#PartidosFuturos .accordion-button:not(.collapsed),
#PartidosFuturos .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-gray-medium);
    border-color: var(--color-gray-medium);
    color: var(--color-white);
}

#PartidosFuturos .accordion-button:focus {
    z-index: 3;
    border: var(--border-grey);
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    box-shadow: none !important;
}
#PartidosFuturos .jornada_tiempo {
    font-weight: 500;
    color: var(--color-gray-medium);
}

#PartidosFuturos .partido_futuro .goles-local,
#PartidosFuturos .partido_futuro .goles-visitante,
#PartidosFuturos .partido_futuro .goles-local + span {
    font-size: var(--fs-large);
    color: var(--color-gray);
    font-weight: 700;
}

#PartidosFuturos .accordion-body {
    background-color: var(--color-gris);
}

#PartidosFuturos .partido_futuro .hora {
    border-radius: 3px;
    color: var(--color-gray-medium);
    font-size: 13px;
}

#PartidosFuturos .partido_finalizado .goles-local,
#PartidosFuturos .partido_finalizado .goles-visitante,
#PartidosFuturos .partido_finalizado .goles-local + span {
    font-size: var(--fs-large);
    color: var(--color-brand-green);
    font-weight: 700;
}

#PartidosFuturos .partido_finalizado .hora {
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-gray);
    color: var(--color-black);
    font-size: 13px;
}
/* ESTILOS PARA TODOS LOS PARTIDO */

.goleadores span {
    font-size: 11px;
    color: var(--color-gray-medium);
}

.marcador {
    text-align: center;
}

/* +++++++++++++++++ */
/* +++++++++++++++++ */
/* GENERIC STYLES */

/* solo mobile */
@media (max-width: 991px) {
    .bg-overlay-menu {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-black);
        opacity: 0.4;
        z-index: 2;
    }

    .flotante-menu-mobile {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 4%;
        width: 90%;
        right: 0;
        height: 65%;
        z-index: 2;
    }
}

/* desktop media */
@media (min-width: 992px) {
    /* espacios laterales genericos */
    .container-fluid-custom {
        padding-left: 60px;
        padding-right: 60px;
    }

    .w-custom {
        width: 50%;
    }

    .publi1 {
        width: 1320px;
        height: 96px;
        background: #093654;
    }

    .publi2 {
        width: 100%;
        height: 260px;
        background: #093654;
    }

    .publi3 {
        width: 100%;
        height: 400px;
        background: #093654;
    }
    .flotante-menu-mobile {
        z-index: 2;
        position: relative;
    }
    .local {
        text-align: right;
    }
}
