* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
    /* font-family: "Inter";
    src: url(fonts/Inter_Variable.ttf); */
    font-family: "Roboto Condensed", sans-serif;
}

body {
    font-size: 1.6rem;
    /* font-family: "inter"; */
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
}

/* size fonts */
.fs-000 {
    font-size: var(--fs-small-xs);
}

.fs-00 {
    font-size: var(--fs-small);
}

.fs-01 {
    font-size: var(--fs-standar);
}

.fs-03 {
    font-size: var(--fs-large);
}

.fs-22px {
    font-size: var(--fs-ciegos);
}

/* simulacion cursor */
.cursor-pointer {
    cursor: pointer;
}

/* enlace sin estilos */
.enlace-unstyle {
    text-decoration: none;
}

/* border-50 */
.border-radius-50 {
    border-radius: 50%;
}

/* d-none personalizada */
.ocultar-icon {
    display: none;
}

/* esconder eje y */
.overflow-y-hidden {
    overflow-y: hidden !important;
}

/* boton generico green gris con icono green dark */
.btn-green-gris {
    background-color: var(--color-greengris);
    width: 35px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* espacios laterales genericos */
.container-fluid-custom {
    padding-left: 15px;
    padding-right: 15px;
}

/* BOTON DE PARTIDOS OCULTOS */
.btn-vocultos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border-radius: 3px;
}

.publi1 {
    width: auto;
    height: 96px;
    background: #093654;
}

.publi2 {
    width: auto;
    height: 104px;
    background: #093654;
}

.publi3 {
    width: auto;
    height: 72px;
    background: #093654;
}

.publi4 {
    width: 100%;
    height: 96px;
    background: #093654;
}

.w-15 {
    width: 15%;
}

.va-middle {
    vertical-align: middle;
}

.va-top {
    vertical-align: top;
}

.icon-resolve-filled {
    display: flex;
}

.br-0 {
    border-radius: 0px !important;
}

.grid-center-xy {
    place-items: center;
}

.center_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subtitle_page {
    color: var(--color-brand-green);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
}

.subtitle_page2 {
    color: var(--color-green-feature, #1fa95a);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

/* ACORDEONES */
.accordion-item {
    background-color: #fff;
    border: var(--border-grey);
}

.accordion-button::after {
    content: none;
}

.w-custom {
    width: 100%;
}

@media (min-width: 991px) {
    .subtitle_page,
    .subtitle_page2 {
        font-size: 22px;
    }
}

/* PARTIDOS EN GENERAL */

.nombre_torneo_liga {
    font-size: var(--fs-large);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-transform: uppercase;
    margin-bottom: 0px !important;
    text-decoration: none;
}

#PartidosEnDirecto .nombre_torneo_liga {
    color: #fff;
}

#PartidosFuturos .nombre_torneo_liga {
    color: var(--color-black, #252525);
}

.bandera_pais {
    border: solid #fff 2px;
}

.mas_info_partido span {
    color: var(--color-gray-medium);
}

.local h3,
.visitante h3 {
    color: var(--color-black, #252525);

    font-size: var(--fs-ciegos);
    /* 14px */
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem;
    max-width: 303px;
}

.marcador * {
    text-align: center;
    font-size: var(--fs-ciegos);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 120% */
}

.local .escudo {
    padding-left: 1rem;
}
.visitante .escudo {
    padding-right: 1rem;
}

.escudo img.logo_s,
.escudo_equipo img {
    mix-blend-mode: darken;
}

#accordionAscensos .visitante .escudo {
    padding-right: 1rem;
    width: 9%;
}

.local .goleadores {
    text-align: right;
}
.visitante .goleadores {
    text-align: left;
}

/* PARTIDOS EN DIRECTO */

#PartidosEnDirecto .accordion-header {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-livescore);
    border: none;
}

#PartidosEnDirecto .accordion-button:not(.collapsed),
#PartidosEnDirecto .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-brand-green);
    border-color: var(--color-brand-green);
}

#PartidosEnDirecto .accordion-button:focus {
    z-index: 3;
    border: var(--color-brand-green);
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    box-shadow: none !important;
}

#PartidosEnDirecto .jornada_tiempo,
.PartidosEnDirecto .jornada_tiempo {
    font-weight: 600;
    color: var(--color-brand-green);
}

#PartidosEnDirecto .goles-local,
#PartidosEnDirecto .goles-visitante,
#PartidosEnDirecto .goles-local + span,
.PartidosEnDirecto .goles-local,
.PartidosEnDirecto .goles-visitante,
.PartidosEnDirecto .goles-local + span {
    color: var(--color-red);
}

#PartidosEnDirecto .hora,
.PartidosEnDirecto .hora {
    border-radius: 3px;
    font-size: var(--fs-large);
}

/* Regla para .bg_1_minutos a .bg_45_minutos */
.bg_1_minutos,
.bg_2_minutos,
.bg_3_minutos,
.bg_4_minutos,
.bg_5_minutos,
.bg_6_minutos,
.bg_7_minutos,
.bg_8_minutos,
.bg_9_minutos,
.bg_10_minutos,
.bg_11_minutos,
.bg_12_minutos,
.bg_13_minutos,
.bg_14_minutos,
.bg_15_minutos,
.bg_16_minutos,
.bg_17_minutos,
.bg_18_minutos,
.bg_19_minutos,
.bg_20_minutos,
.bg_21_minutos,
.bg_22_minutos,
.bg_23_minutos,
.bg_24_minutos,
.bg_25_minutos,
.bg_26_minutos,
.bg_27_minutos,
.bg_28_minutos,
.bg_29_minutos,
.bg_30_minutos,
.bg_31_minutos,
.bg_32_minutos,
.bg_33_minutos,
.bg_34_minutos,
.bg_35_minutos,
.bg_36_minutos,
.bg_37_minutos,
.bg_38_minutos,
.bg_39_minutos,
.bg_40_minutos,
.bg_41_minutos,
.bg_42_minutos,
.bg_43_minutos,
.bg_44_minutos,
.bg_45_minutos {
    background-color: var(--color-green-minutos);
}

/* Regla para .bg_46_minutos a .bg_120_minutos */
.bg_46_minutos,
.bg_47_minutos,
.bg_48_minutos,
.bg_49_minutos,
.bg_50_minutos,
.bg_51_minutos,
.bg_52_minutos,
.bg_53_minutos,
.bg_54_minutos,
.bg_55_minutos,
.bg_56_minutos,
.bg_57_minutos,
.bg_58_minutos,
.bg_59_minutos,
.bg_60_minutos,
.bg_61_minutos,
.bg_62_minutos,
.bg_63_minutos,
.bg_64_minutos,
.bg_65_minutos,
.bg_66_minutos,
.bg_67_minutos,
.bg_68_minutos,
.bg_69_minutos,
.bg_70_minutos,
.bg_71_minutos,
.bg_72_minutos,
.bg_73_minutos,
.bg_74_minutos,
.bg_75_minutos,
.bg_76_minutos,
.bg_77_minutos,
.bg_78_minutos,
.bg_79_minutos,
.bg_80_minutos,
.bg_81_minutos,
.bg_82_minutos,
.bg_83_minutos,
.bg_84_minutos,
.bg_85_minutos,
.bg_86_minutos,
.bg_87_minutos,
.bg_88_minutos,
.bg_89_minutos,
.bg_90_minutos,
.bg_91_minutos,
.bg_92_min {
    background-color: var(--color-red-minutos);
}

/* FUTUROS Y FINALIZADOS */

#PartidosFuturos .accordion-header {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-silver-medium);
    border: none;
}

#PartidosFuturos .accordion-button:not(.collapsed),
#PartidosFuturos .accordion-button {
    box-shadow: none !important;
    outline: none !important;
    background: var(--color-gray-medium);
    border-color: var(--color-gray-medium);
    color: var(--color-white);
}

#PartidosFuturos .accordion-button:focus {
    z-index: 3;
    border: var(--border-grey);
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
    box-shadow: none !important;
}

#PartidosFuturos .jornada_tiempo,
.PartidosFuturos .jornada_tiempo {
    font-weight: 500;
    color: var(--color-gray-medium);
}

#PartidosFuturos .partido_futuro .goles-local,
#PartidosFuturos .partido_futuro .goles-visitante,
#PartidosFuturos .partido_futuro .goles-local + span,
.PartidosFuturos .partido_futuro .goles-local,
.PartidosFuturos .partido_futuro .goles-visitante,
.PartidosFuturos .partido_futuro .goles-local + span {
    font-size: var(--fs-ciegos);
    color: var(--color-gray);
    font-weight: 700;
}

#PartidosFuturos .accordion-body {
    background-color: var(--color-gris);
}

#PartidosFuturos .partido_futuro .hora,
.PartidosFuturos .partido_futuro .hora {
    border-radius: 3px;
    color: var(--color-gray-medium);
    font-size: var(--fs-large);
}

#PartidosFuturos .partido_finalizado .goles-local,
#PartidosFuturos .partido_finalizado .goles-visitante,
#PartidosFuturos .partido_finalizado .goles-local + span,
.PartidosFuturos .partido_finalizado .goles-local,
.PartidosFuturos .partido_finalizado .goles-visitante,
.PartidosFuturos .partido_finalizado .goles-local + span {
    font-size: var(--fs-ciegos);
    color: var(--color-brand-green);
    font-weight: 700;
}

#PartidosFuturos .partido_finalizado .hora,
.PartidosFuturos .partido_finalizado .hora {
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-gray);
    color: var(--color-black);
    font-size: var(--fs-large);
}

/* ESTILOS PARA TODOS LOS PARTIDO */

.goleadores {
    width: 100%;
    margin-top: 1rem;
}

.goleadores span {
    font-size: 11px;
    color: var(--color-gray-medium);
}

.marcador {
    text-align: center;
}

/* CATEGORIAS: LIGAS Y TORNEOS */

#pills_tab_cat {
    border-radius: 6px;
    background: var(--color-green-second, #99ccaf);
    padding: 1.5rem;
}

.header_cat {
    border-radius: 6px;
    background: var(--color-silver-medium, #dfdede);
}

#pills_tab_cat .nav-link {
    color: var(--color-black, #252525);
    border-radius: 3px;
    font-style: normal;
    line-height: 20px;
}

#pills_tab_cat.nav-pills .nav-link.active,
#pills_tab_cat.nav-pills .show > .nav-link {
    border-radius: 3px;
    color: #fff;
    background-color: var(--color-brand-green, #025325);
}

/* TABLA DE CLASIFICACIÓN */
#latabla thead tr * {
    background: var(--Green-High-Contrast, #002e14);
    color: #fff;
    padding: 1rem 0.5rem;
}

#latabla tbody tr th,
#latabla tbody tr td {
    padding: 1rem 0.5rem;
}

.table#latabla > :not(caption) > * > * {
    border-bottom-width: 4px;
    border-color: #f7f7f7;
}

/* TABLA DE GOLEADORES */

#tabla_goleadores tbody tr th {
    text-align: center;
}

#tabla_goleadores tbody tr th,
#tabla_goleadores tbody tr td {
    padding: 1.5rem 0.5rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

#tabla_goleadores tbody tr :nth-child(4) {
    /* Tu estilo para el cuarto hijo aquí */
    color: var(--color-green-feature, #1fa95a);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

#tabla_goleadores thead tr :nth-child(4) {
    text-align: center;
}

#tabla_goleadores thead tr * {
    padding: 1.5rem 0.5rem;
    background: var(--color-green-directo, #eaf9f0);
    color: var(--color-brand-green, #025325);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.table#tabla_goleadores > :not(caption) > * > * {
    border-bottom-width: 4px;
    border-color: #f7f7f7;
}

.table-light {
    --bs-table-bg: #ffffff;
    --bs-table-hover-bg: #e5e6e7;
}

/* EQUIPO */

.indumentaria img,
#pills-equipo .escudo img,
.escudo_nombre img {
    max-height: 60px;
}

/* CALENDARIO */
.fecha_calendario_cat {
    color: var(--color-brand-green, #025325);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

/* ACORDEONES GENERALES VERDES CLARITOS */
#accordionFichajes .accordion-button:not(.collapsed) {
    background-color: var(--color-green-directo);
    border-radius: 6px;
    border-bottom: 0px;
    box-shadow: none !important;
}

#accordionFichajes .accordion-button:focus {
    outline: none;
    box-shadow: none !important;
    border: 0px;
}

/* ACORDEONES GENERALES VERDES OSCURO */

#accordionAscensos .accordion-button:not(.collapsed) {
    background-color: var(--color-brand-green);
    border-bottom: 0px;
    box-shadow: none !important;
}

#accordionAscensos .accordion-button:focus {
    outline: none;
    box-shadow: none !important;
    border: 0px;
}

/* FICHAJES */
.item-fichajes {
    background-color: var(--color-white);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
}

/* ASCENSOS Y DECENSOS PAGE */

.title_page {
    color: #025325;
    font-family: Inter;
    font-size: var(--fs-ciegos);
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

/* +++++++++++++++++ */
/* +++++++++++++++++ */
/* GENERIC STYLES */

/* solo mobile */
@media (max-width: 991px) {
    .bg-overlay-menu {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-black);
        opacity: 0.4;
        z-index: 2;
    }

    .flotante-menu-mobile {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 4%;
        width: 90%;
        right: 0;
        height: 65%;
        z-index: 2;
    }

    /* CATEGORIAS: LIGAS Y TORNEOS */

    #pills_tab_cat .nav-link {
        background: var(--color-silver-medium, #dfdede);
    }

    .local h3 {
        text-align: right;
    }

    .partido_alineado {
        display: grid;
        grid-template-columns: 40% 20% 40%;
        gap: 0px;
        align-items: start;
        justify-content: center;
        width: auto;
    }
}

/* desktop media */
@media (min-width: 992px) {
    .partido_alineado {
        display: grid;
        grid-template-columns: 45% 10% 45%;
        gap: 15px;
        align-items: start;
        justify-content: center;
        width: auto;
    }

    /* espacios laterales genericos */
    .container-fluid-custom {
        padding-left: 60px;
        padding-right: 60px;
    }

    .w-custom {
        width: 50%;
    }

    .publi1 {
        width: 1320px;
        height: 96px;
        background: #093654;
    }

    .publi2 {
        width: 100%;
        height: 260px;
        background: #093654;
    }

    .publi3 {
        width: 100%;
        height: 400px;
        background: #093654;
    }

    .flotante-menu-mobile {
        z-index: 2;
        position: relative;
    }

    .local {
        text-align: right;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-wrap: wrap;
    }
    .visitante {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    /* CATEGORIAS: LIGAS Y TORNEOS */

    #pills_tab_cat .nav-link {
        color: var(--color-black, #252525);
        border-radius: 3px;
        background: var(--color-green-directo, #eaf9f0);
        font-style: normal;
        line-height: 20px;
    }
}

/* ESTILOS PARA CALENDARIO */

.btn-day {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    border-radius: 10px;
    transition: 0.4s all;
}

.btn-day.active {
    color: #fff;
    font-weight: 600;
    z-index: 99;
}

.btn-day.active::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: var(--color-livescore);
    border-radius: 10px;
    z-index: -1;
}

.calendar {
    height: 370px;
    width: 324px;
    border-radius: 18px;
    background: #ffffff;
    padding: 10px;
    user-select: none;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px 18px 0px 0px;
    padding: 15px;
    height: 50px;
    width: 100%;
    color: #262626;
}

.month {
    font-size: 0.7em;
}

.icon {
    padding: 10px;
    font-size: 1em;
    margin: 0 0 0 5px;
    background: #ffffff;
    color: var(--color-livescore);
    border: none;
    cursor: pointer;
    outline: 0;
}

.icon:hover {
    cursor: pointer;
}

.weekends th {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    width: 40px;
    margin: 10px 0;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3px;
}

#calendar td {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

/* ESTILOS DE BECARIO DE JUGADOR Y EQUIPO */

.p-normal p {
    margin: 7px 0px;
}
.nombre-jugador {
    font-size: 18px;
    height: 43px;
}

.link-equipo {
    font-size: 15px;
}
/* TRAYECTORIA JUGADOR */
.trayectoria-div p {
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0px 4px 0px;
}
/* CARACTERISTICAS GOLES */
.carac {
    background-color: #eaf9f0;
    margin-bottom: 10px;
}
.carac-goles {
    font-size: 16px;
    margin: 8px 0px 8px 10px;
}
.partido-jornada {
    border-bottom: 1px solid lightgray;
}
.partido-jornada:last-child {
    border: none;
}

/* Estilos especiales para móvil */

.p-movil p {
    margin: 4px 0px;
}
.delantero {
    font-size: 15px;
}
.equipo-actual {
    font-size: 12px;
}
.equipo {
    font-size: 13px;
}
.p-movil-datos p {
    font-size: 14px;
    margin: 5px 0px;
}
.partido-movil {
    font-size: 12px;
    font-weight: 500;
    height: 20px;
}
.partido-movil strong {
    font-size: 14px;
}

.articulo {
    width: 648px;
}

/*  QUITAR ENLACES DE GOLEADORES */

.goleadores a {
    text-decoration: none;
    color: inherit;
    cursor: default;
    pointer-events: none;
}

/* estilos modales alineaciones y eventos */

.content-alineaciones,
.content-eventos,
.modal_info {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    background: white;
    z-index: 99999999;
    padding: 3rem;
    height: 100vh;
    overflow-y: auto;
}
