* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 62.5%;
}
  
body {
    font-size: 1.6rem;
    font-family: Arial, sans-serif;
}

/* simulacion cursor */
.cursor-pointer {
    cursor: pointer;
}

/* enlace sin estilos */
.enlace-unstyle{
    text-decoration: none;    
}

/* border-50 */
.border-radius-50{
    border-radius: 50%;
}

/* d-none personalizada */
.ocultar-icon{
    display: none;
}

/* boton generico green gris con icono green dark */
.btn-green-gris{
    background-color: var(--color-greengris);    
    width: 35px !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* espacios laterales genericos */
.container-fluid-custom {
    padding-left: 15px;
    padding-right: 15px;
}

/* +++++++++++++++++ */
/* +++++++++++++++++ */
/* GENERIC STYLES */

/* solo mobile */
@media (max-width: 991px) {
    .bg-overlay-menu {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--color-black);
        opacity: .4;
    }
    .flotante-menu-mobile {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 4%;
        width: 90%;
        right: 0;
        height: 65%;
    }
}

/* desktop media */
@media (min-width: 992px) { 
    /* espacios laterales genericos */
    .container-fluid-custom {
        padding-left: 15px;
        padding-right: 15px;
    }
}