.comunidad { background: url('../images/img/comunidades/comunidades.png') no-repeat top left; float: left; margin-left: 3px;} 
.comunidad.flag2 { background-position: 0 0; width: 30px; height: 20px;}
.comunidad.flag3 { background-position: 0 -30px; width: 30px; height: 20px;}
.comunidad.flag4 { background-position: 0 -60px; width: 30px; height: 20px;}
.comunidad.flag5 { background-position: 0 -90px; width: 30px; height: 20px;}
.comunidad.flag6 { background-position: 0 -120px; width: 30px; height: 20px;}
.comunidad.flag7 { background-position: 0 -150px; width: 30px; height: 20px;}
.comunidad.flag8 { background-position: 0 -180px; width: 30px; height: 20px;}
.comunidad.flag9 { background-position: 0 -210px; width: 30px; height: 20px;}
.comunidad.flag10 { background-position: 0 -240px; width: 30px; height: 20px;}
.comunidad.flag11 { background-position: 0 -270px; width: 30px; height: 20px;}
.comunidad.flag12 { background-position: 0 -300px; width: 30px; height: 20px;}
.comunidad.flag13 { background-position: 0 -330px; width: 30px; height: 20px;}
.comunidad.flag14 { background-position: 0 -360px; width: 30px; height: 20px;}
.comunidad.flag15 { background-position: 0 -390px; width: 30px; height: 20px;}
.comunidad.flag16 { background-position: 0 -420px; width: 30px; height: 20px;}
.comunidad.flag17 { background-position: 0 -450px; width: 30px; height: 20px;}
.comunidad.flag18 { background-position: 0 -480px; width: 30px; height: 20px;}
.comunidad.flag19 { background-position: 0 -510px; width: 30px; height: 20px;}
.comunidad.flag21 { background-position: 0 -540px; width: 30px; height: 20px;}
.comunidad.flag22 { background-position: 0 -570px; width: 30px; height: 19px;}
.comunidad.flag55 { background-position: 0 -599px; width: 30px; height: 20px;}
.comunidad.flag56 { background-position: 0 -629px; width: 30px; height: 20px;}
.comunidad.flagNI { background-position: 0 -659px; width: 30px; height: 20px;}