
/* estilos genericos */
.input-generic,
.input-generic::placeholder{
    font-size: var(--fs-small);
}
input:focus {
    outline: none!important;
}
  
.content-resultado-buscador{
    position: absolute;
    top: 63px;
    background-color: var(--color-silver);
    z-index: 9;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Custom Scroll */

.content-resultado-buscador::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

.content-resultado-buscador::-webkit-scrollbar-track {
    background: #1d1d1f;
    /* color of the tracking area */
}

.content-resultado-buscador::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid var(--color-dark-green);
    /* creates padding around scroll thumb */
}