/* solo mobile */
@media (max-width: 991px) {
    /* listado de todos los elementos del menu */
    .ul-todos-elements-menu{
        height: 32vh;
        overflow-y: scroll;
    }
    /* buscador menu deslizable */
    .content-icon-buscador{
        position: absolute;
        top: 10%;
        right: 0;
    }
}

@media (min-width: 992px) {
    /* children flotante de menu */
    .children-flotante{
        position: absolute;
        background-color:   var(--color-silver);
        padding: 15px 15px;
        top: 100%;
        left: -130%;
        width: 450px;
    }
    /* mantenemos menu abierto en desktop */
    .content-navbar.flotante-menu-mobile.open-desktop{
        display: block!important;
    }
    /* buscador menu deslizable */
    .content-icon-buscador{
        position: absolute;
        top: 10%;
        right: 0;
    }
}

