/* GENERIC VARIABLES ROOT */

:root {
  --color-dark-green: #01210F;
  --color-brand-green: #025325;
  --color-green-second: #99CCAF;
  --color-green-directo: #EAF9F0;
  --color-greengris:#CCE6D7;
  --color-green-feature:#1FA95A;
  --color-green-live:#99CCAF;
  --color-silver: #E5E5E5;
  --color-silver-medium: #DFDEDE;
  --color-white: #FFF;
  --color-gris: #F0F0F0;
  --color-white-light: #F7F7F7;
  --color-black: #252525;
  --color-gray-contrast:#565656;
  --color-gray:#BBBBBB;
  --color-gray-medium:#4E4E4E;
  --color-red:#F24822;
  --fs-standar: 13px;
  --fs-small:11px;
  --fs-torneos: 14px;
  --fs-large:14px;
  --border-silver-1: 1px solid #BBBBBB;
  --border-green-second-1: 1px solid #99CCAF;
  --border-grey: 1px solid #F0F0F0;
}


@media (min-width: 992px) { 

  :root {        
    --fs-standar: 16px;
    --fs-small:14px;
    --fs-torneos: 16px;
    --fs-large:18px;
  }
}