/* backgrounds */
.bg-dark-green {
    background-color: var(--color-dark-green);
}
.bg-brand-green {
    background-color: var(--color-brand-green);
}
.bg-silver {
    background-color: var(--color-silver);
}
.bg-silver-medium {
    background-color: var(--color-silver-medium);
}
.bg-white-light {
    background-color: var(--color-white-light);
}
.bg-green-directo{
    background-color: var(--color-green-directo);
}
.bg-greengris{
    background-color: var(--color-greengris);
}
.bg-gray{
    background-color: var(--color-gray);
}
.bg-feature{
    background-color: var(--color-green-feature);
}

/* colors */
.color-white{
    color: var(--color-white)!important;
}
.color-black{
    color: var(--color-black)!important;
}
.color-gray{
    color: var(--color-gray);
}
.color-gray-contrast{
    color: var(--color-gray-contrast);
}
.color-gray-medium{
    color: var(--color-gray-medium);
}
.color-green-second{
    color: var(--color-green-second);
}
.color-brand-green {
    color: var(--color-brand-green);
}
.color-red {
    color: var(--color-red);
}
.color-feature{
    color: var(--color-green-feature);
}

.color-live{
    color: var(--color-green-live);
}

/* size fonts */
.fs-000{
    font-size: var(--fs-small-xs);
}
.fs-00{
    font-size: var(--fs-small);
}
.fs-01{
    font-size: var(--fs-standar);
}
.fs-03{
    font-size: var(--fs-large);
}
/* borders */
.border-bottom-complet{
    border-bottom: var(--border-silver-1);
}
.border-top-complet{
    border-top: var(--border-silver-1);
}
.border-top-green-second{
    border-top: var(--border-green-second-1);
}
.border-bottom-green-second{
    border-bottom: var(--border-green-second-1);
}
.border-grey{
    border: var(--border-grey);
}