/* backgrounds */
.bg-dark-green {
    background-color: var(--color-dark-green);
}
.bg-brand-green {
    background-color: var(--color-brand-green);
}
.bg-silver {
    background-color: var(--color-silver);
}


/* colors */
.color-white{
    color: var(--color-white);
}

/* size fonts */
.fs-01{
    font-size: var(--fs-standar);
}

/* borders */
.border-bottom-complet{
    border-bottom: var(--border-silver-1);
}